<header class="site-header">

  <div class="wrapper">

<nav class="navbar navbar-pills">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about"><i class="fa fa-info-circle"></i> About</a></li>
        <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li> 
 
      </ul>
    </div>   
  </div>
<hr style="margin-bottom:5px !important; margin-top:5px !important; " />
</nav>
   
  </div>

</header>
