<header class="site-header">

<div class="wrapper">

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/"><p>{{ site.title }}</p></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/experience"><i class="fa fa-file-text"></i> Experience</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/projects"><i class="fa fa-wrench"></i> Projects
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/projects/engineteam">FSAE Engine Transition</a></li>
            <li><a href="/projects/fsae">Formula SAE</a></li>            
            <li><a href="/projects/dragonplatform">Dragon Capsule Platform</a></li>
            <li><a href="/projects/software">Software</a></li>
          </ul>
        </li>
        <li><a href="/about"><i class="fa fa-info-circle"></i> About</a></li>
        <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li> 
       </ul> 
    </div>   
  </div>

<!--highlights active page in navbar -->
<script>
$(function(){
  function stripTrailingSlash(str) {
    if(str.substr(-1) == '/') {
      return str.substr(0, str.length - 1);
    }
    return str;
  }

  var url = window.location.pathname;  
  var activePage = stripTrailingSlash(url);

  $('.nav li a').each(function(){  
    var currentPage = stripTrailingSlash($(this).attr('href'));

    if (activePage == currentPage) {
      $(this).parent().addClass('active');
      //code to highlight top level active page for dropdowns
      $('.active').closest('li.dropdown').addClass('active'); 
    } 
  });
});
</script>
  

<hr style="margin-bottom:0px !important; margin-top:0px !important; " />
</nav>
   
  </div>

</header>
