body { 
    background: url(/img/shattered.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}
p, div {
    font-family: 'Arimo', Verdana, Helvetica, sans-serif;
}
