body { 
    background: url(/img/shattered.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}
p, div {
    font-family: 'Arimo', Verdana, Helvetica, sans-serif;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 46px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
}

/* Removes gap between carousel and navbar */
.carousel {
  top: -21px;
}

.image {
    height: 250px;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 48em){
.image {
    height: 570px;    
  }
}

.navbar-brand{
   text-transform: uppercase;
   font-weight: bold;
   p{
   font-size:24px;
   }  
}

.experience {
  h1 {
    text-align: center;
    font-size: 4em;
  }  

  .col-md-9{
    text-align: center;
  }

  .col-md-3{
    text-align:center;
  }
  
  @media screen and (min-width: 48em){
    .col-md-9{
      text-align: right;
    }
    .col-md-3{
      text-align: left;
    }
    
  }

}

.about{
  text-align: center;
}
