/* Background Photo */
body { 
    background: url(/img/shattered.png) repeat 0 0;
}

/* Global Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}
p, div {
    font-family: 'Arimo', Verdana, Helvetica, sans-serif;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 46px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
}

/* Removes gap between carousel and navbar */
.carousel {
  top: -21px;
}

/* Responsive sizing for carousel */
.image {
    height: 250px;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 48em){
.image {
    height: 570px;    
  }
}

/* Forces font color for links in carousel */
.carousel-link:link, .carousel-link:hover, .carousel-link:active, .carousel-link:visited{
  color: white;
}



/* Makes my name in navbar big */
.navbar-brand{
   text-transform: uppercase;
   font-weight: bold;
   p{
   font-size:24px;
   white-space: nowrap;

   }  
}

// Shrinks my name in navbar for narrow viewports
@media (max-width: 360px) {
  .navbar-brand{
    p{
      font-size: 18px;
    }
  }
}
/* Responsive styling for experience accordion */
.experience {
  h1 {
    text-align: center;
    font-size: 4em;
  }  

  .col-md-9{
    text-align: center;
  }

  .col-md-3{
    text-align:center;
  }
  
  @media screen and (min-width: 48em){
    .col-md-9{
      text-align: right;
    }
    .col-md-3{
      text-align: left;
    }
    
  }

}

/* Text formatting for about page */
.about{
  text-align: center;
}

/* Changes navbar breakpoint to accomodate for enlarged navbar-brand */
$grid-float-breakpoint:807px;

// CSS for Masonry 
.grid-item {
  width: 370px;
  margin-bottom: 5px;
  }
.grid {
  margin: 0 auto;
}

/* Styling for navbar active menu item */
.navbar{
  .navbar-nav{
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: darken(darken(#428bca, 6.5%), 15%);
        background-color: #f8f8f8;
      }
    }
  }
}

// Video Homepage Background
// See https://www.berriart.com/blog/2016/11/using-ffmpeg-web-ambient-videos/ and https://slicejack.com/fullscreen-html5-video-background-css/
.background_envelope {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;

    .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

.video-overlay {
    background: url(../img/black-dots.png);
    position: absolute;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#homebody{
  background: url('../img/shattered_dark.png')  repeat 0 0;
  overflow-x: hidden;
}

// Hide homepage video for small screens
// See http://slicejack.com/fullscreen-html5-video-background-css/
@media (max-width: 807px) {
  .home {
    .video {
    display: none;  
    }
    .video-overlay {
    display: none;
    } 
  }  
}
  
  


// Homepage styling
.home{
  .navbar{
  font-weight: bold;
    }

  .footer a{
    color: white;
    font-size:24px;

  }
  .footer{
   height: 60px;
  }
  .navbar .navbar-nav > .active > a{
    color: white;
    background-color: #23527c;
    opacity: 0.8;
  }
  .dropdown-menu >li >a{
      color: #696969  !important;
     }
  .navbar a{
     color: white;
     opacity: 1;
     
  }
  
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #23527c;
    opacity: 0.8;
  }

  .navbar-toggle{
     color: white;
  }

  .container > h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size:100px;

  }

  .container > h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size:55px;
    line-height: 150%;


  }

  .container > h3 > a{
    border: solid 3px;
    padding: 6px 18px;
    color: white;
    white-space: nowrap;

}
  
}

// Shrinks homepage fonts for narrow viewports
@media (max-width: 400px) {
  .home{
    .container > h3{
      font-size:35px;
    }
    .container > h1{
      font-size:75px;
    }
  }
}

// blank phone as background for phone screenshot
.atrix {
  background: url('../img/atrix_hd_blank.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  img {
    padding: 22% 10% 29% 9%;
  }
}