---
import { clsx, getBackgroundColorClass } from '@utils/index';

interface Props {
	title: string;
	cta_label: string;
	bg_colour: string;
	xHandle?: string;
}

const { title, cta_label, bg_colour, xHandle }: Props = Astro.props;
---

<div
	class={clsx(
		'flex flex-row w-full items-center justify-between gap-3 p-6 relative transition-all duration-75 ease-in-out rounded-2xl',
		getBackgroundColorClass(bg_colour)
	)}>
	<div class='w-full flex flex-col gap-3'>
		<h5
			class='text-[#333333] dark:text-[#333333] font-medium w-full sm:text-xl md:text-2xl leading-tight'>
			{title}
		</h5>

	</div>
</div>
